.income__section {
  width: 70%;
  margin: 0 auto;
}
.currency_wrapper {
  position: relative;
}
.currency_symbol {
  position: absolute;
  top: 10px;
  left: 10px;
}
.currency__input {
  padding: 10px 30px;
  width: calc(100% - 107px);
  border: 1px solid #c8c8c8;
  border-radius: 6px 0 0 6px;
}
.currency__input:invalid {
  outline: 2px solid var(--red);
  background-color: var(--light-red);
}
.currency_wrapper select {
  position: absolute;
  padding: 10px;
  right: 0;
  height: 100%;
  border: 1px solid #c8c8c8;
  border-left: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
.btn_container {
  display: grid;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "gross net"
  "calc calc"
  ;
}
.btn_container button {
  padding: 10px 20px;
  border: 1px solid var(--grey);
  border-radius: 6px;
  cursor: pointer;
}
.btn_container button:hover {
  background-color: var(--green);
}
.btn__gross {
  grid-area: gross;
}
.btn__net {
  grid-area: net;
}
.btn__calc {
  grid-area: calc;
  background-color: var(--green);
}
button.btn__calc:hover {
  background-color: var(--kiwi);
}
.btn__active {
  background-color: var(--green);
}

@media only screen and (max-width: 600px) {
  .income__section {
    width: 100%;
  }
}