.nav__list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.nav__item {
  list-style-type: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #c8c8c8;
  border-radius: 10px 10px 0 0;
}
.active {
  background-color: #0ba4887c;
}