.details__section {
  background-color: var(--details);
  padding: 20px;
  border-radius: 10px;
}
.details__header {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}
.details__income {
  background-color: var(--kiwi);
  padding: 10px 20px;
  border-radius: 10px;
  line-height: 20px;
}
.details__header p {
  line-height: 40px;
}
.table {
  padding: 20px;
  border-radius: 10px;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
td {
  border-top: 2px solid var(--primary);
}

@media only screen and (max-width: 600px) {
  .details__section {
    padding: 10px;
  }
  .details__header {
    font-size: 12px;
  }
  .details__income {
    padding: 10px;
  }
  th, td {
    padding: 5px;
    font-size: 10px;
  }
}