* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
em,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
:root {
  --green: #bfedc8;
  --grey: #c8c8c8;
  --white: #ffffff;
}
::selection {
  background-color: var(--green);
}
.app-position {
  max-width: 800px;
  margin: 50px auto;
}
.app-wrapper {
  min-width: 600px;
}
.card {
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.75);
  /* height: 420px; */
}
.padding {
  padding: 20px 0 10px;
}

