* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
em,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  height: 100vh;
}
:root {
  --green: #9ee6ad;
  --white: #ffffff;
  --red: #ff0000;
  --light-red: #fc9c9c;
  --kiwi: #2ae04e;
}
.dark {
  --primary: #333;
  --secondary: #666;
  --details: #666;
  --tab: #525252;
  --active: #78b885;
  background-color: var(--secondary);
  width: 100%;
  height: 100vh;
  color: #fff;
  padding: 20px 0;
}
.light {
  --primary: #e4e4e4;
  --secondary: #c8c8c8;
  --details: #9ee6ad;
  --tab: #c8c8c8;
  --active: #9ee6ad;
  background-color: var(--primary);
  width: 100%;
  height: 100vh;
  padding: 20px 0;
}
::selection {
  background-color: var(--green);
}
.app-position {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}
.card {
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.75);
  background-color: var(--primary);
  height: 550px;
}
.padding {
  padding: 20px 0 10px;
}

@media only screen and (max-width: 992px) {
  .app-position {
    max-width: 600px;
  }
}

@media only screen and (max-width: 730px) {
  .app-position {
    max-width: 500px;
  }
  .card {
    padding: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .app-position {
    max-width: 400px;
    padding: 0 10px;
  }
  .card {
    padding: 15px;
    height: 350px;
  }
}

